In [26]:
lista=["PYTHON","RE",4,5.9]
print(type(lista))
print(lista)
print(lista[0])
print(lista[2:4])
lista.append(234643)
print(lista)
lista.insert(3,"shfgsdf")
print(lista)
lista.extend([888888,333333]) #para concatenar otra lista a la inicial
print(lista)

<class 'list'>
['PYTHON', 'RE', 4, 5.9]
PYTHON
[4, 5.9]
['PYTHON', 'RE', 4, 5.9, 234643]
['PYTHON', 'RE', 4, 'shfgsdf', 5.9, 234643]
['PYTHON', 'RE', 4, 'shfgsdf', 5.9, 234643, 888888, 333333]

In [53]:
lista=['PYTHON', 'RE', 4, 'shfgsdf', 5.9, 234643, 888888, 333333]
print(lista.index(4)) #para saber en que posicion está el dato "4"
print(lista.index("RE")) #si el dato "RE" no existe entonces saldrá un error al no encontrarlo
lista.remove(234643)
print(lista)
ultimo_dato=lista.pop() #para extraer el ultimo dato de la lista
tercer_dato=lista.pop(2) #para extraer el tercer dato de la lista
lista
print(ultimo_dato,"  ",lista,"  ",tercer_dato)

2
1
['PYTHON', 'RE', 4, 'shfgsdf', 5.9, 888888, 333333]
333333    ['PYTHON', 'RE', 'shfgsdf', 5.9, 888888]    4

In [64]:
lista=['PYTHON', 'RE', "fdsfg", 'shfgsdf', "w", "c"]
lista=lista*2
print(lista)
num=[3,6,9,22,4,22,7,55]
num.sort()
lista.sort()
print(num)
print(lista)

['PYTHON', 'RE', 'fdsfg', 'shfgsdf', 'w', 'c', 'PYTHON', 'RE', 'fdsfg', 'shfgsdf', 'w', 'c']
[3, 4, 6, 7, 9, 22, 22, 55]
['PYTHON', 'PYTHON', 'RE', 'RE', 'c', 'c', 'fdsfg', 'fdsfg', 'shfgsdf', 'shfgsdf', 'w', 'w']

In [72]:
#vamos ahora con tuplas

mitu=(3,6,2,7,"dsfg","sf")
print(mitu)
print(mitu[4]) #para consultar el dato ubicado en la posicion 4
#para validar si en la tupla existe o no un dato denominado "sf"
"sf" in mitu

(3, 6, 2, 7, 'dsfg', 'sf')
dsfg

True

In [132]:
#para contar x elementos en un tupla
mitu=(3,6,2,7,"dsfg",2,5,6,2,"sf","s","r","s")
print(mitu.count(2))
print(mitu[:5])

3
(3, 6, 2, 7, 'dsfg')

In [106]:
#desempaquetado de tuplas
x="Sergio"
y="Andres"
z="Lopez Navarro"
tupp=x,y,z
print(type(tupp))
nombre, segnom,apellidos=tupp #para que funcione el desempaquetado se requiere que la cantidad de variables sea igual a la cantidad de lementos en la tupla
print(nombre+" "+segnom+" "+apellidos)
ap=""
a,b,c=tupp
print(c)

<class 'tuple'>
Sergio Andres Lopez Navarro
Lopez Navarro

In [117]:
#arrancamos con diccionarios
primdic=dict()
type(primdic)
primdic["dato1"]="Uno"
print(primdic)
primdic["dato2"]="Dos"
primdic["tercero"]=3
print(primdic)

segdic={"a":1,"b":2,"ulitmo":"z"}
print(segdic)

terdic={"nombres":["sergio","Andres"],
        "apellidos":["lopez","navarro"],
        "edad":41,
        "masculino":True,
        "color1":"cafe",
        "color2":"verde"}
print(terdic)
del terdic["color2"]
print(terdic)

{'dato1': 'Uno'}
{'dato1': 'Uno', 'dato2': 'Dos', 'tercero': 3}
{'a': 1, 'b': 2, 'ulitmo': 'z'}
{'nombres': ['sergio', 'Andres'], 'apellidos': ['lopez', 'navarro'], 'edad': 41, 'masculino': True, 'color1': 'cafe', 'color2': 'verde'}
{'nombres': ['sergio', 'Andres'], 'apellidos': ['lopez', 'navarro'], 'edad': 41, 'masculino': True, 'color1': 'cafe'}

In [128]:
#usando tuplas como claves para los diccionarios
mi_tupla=("colombia","argentina","peru","brazil")
print(mi_tupla)
capitales={mi_tupla[0]:"bogota",mi_tupla[1]:"buenos aires",mi_tupla[2]:"lima",mi_tupla[3]:"sau paulo"}
print(capitales)

#usando tuplas como valores en los diccionarios
cuardic={"a":1,"b":4,"c":(2,5,7,3)}
print(cuardic)

lista_a=["dsf","ag",234,324,35]
print(lista_a)

dic_tu_y_lis={"h":"H","r":"R","nom_tupla":mi_tupla,"nom_list":lista_a}
print(dic_tu_y_lis)

dic_tu_y_lis={"h":"H","dicc":cuardic,"r":"R","nom_tupla":mi_tupla,"nom_list":lista_a}
print(dic_tu_y_lis)

('colombia', 'argentina', 'peru', 'brazil')
{'colombia': 'bogota', 'argentina': 'buenos aires', 'peru': 'lima', 'brazil': 'sau paulo'}
{'a': 1, 'b': 4, 'c': (2, 5, 7, 3)}
['dsf', 'ag', 234, 324, 35]
{'h': 'H', 'r': 'R', 'nom_tupla': ('colombia', 'argentina', 'peru', 'brazil'), 'nom_list': ['dsf', 'ag', 234, 324, 35]}
{'h': 'H', 'dicc': {'a': 1, 'b': 4, 'c': (2, 5, 7, 3)}, 'r': 'R', 'nom_tupla': ('colombia', 'argentina', 'peru', 'brazil'), 'nom_list': ['dsf', 'ag', 234, 324, 35]}

In [131]:
#claves, valores, longitudes de los diccionarios

print(dic_tu_y_lis.keys())
print(dic_tu_y_lis.values())
print(len(dic_tu_y_lis))

dict_keys(['h', 'dicc', 'r', 'nom_tupla', 'nom_list'])
dict_values(['H', {'a': 1, 'b': 4, 'c': (2, 5, 7, 3)}, 'R', ('colombia', 'argentina', 'peru', 'brazil'), ['dsf', 'ag', 234, 324, 35]])
5