## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x=5
print(x)

5

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
constante=8.5
print(type(constante))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(x))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
nombre="Sergio Andres Lopez Navarro"

5) Crear una variable que contenga un número complejo

In [8]:
comp="3x+1"

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(comp)

str

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [13]:
import math
pi=round(math.pi,4)
pi

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [14]:
#No se trata de lo mismo, la primera es un string y la segunda en un booleano
var1="True"
var2=True

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [15]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
var=int(23452)+float(4345.435)
var

27797.435

11) Realizar una operación de suma de números complejos

In [22]:
complejo1= 3 + 13j
complejo2= 4 + 30j
total=complejo1+complejo2
total

(7+43j)

12) Realizar una operación de suma de un número real y otro complejo

In [24]:
real=345
complejo=4 + 778j
total_suma=real + complejo
total_suma

(349+778j)

13) Realizar una operación de multiplicación

In [26]:
multi=3*4
multi

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [27]:
oct=2**8
oct

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [29]:
cociente=27//4
cociente

6

16) De la división anterior solamente mostrar la parte entera

In [30]:
cociente

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [32]:
modulo_o_residuo=27%4
modulo_o_residuo

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [35]:
valor=4*cociente+modulo_o_residuo
valor

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
nombre_edad=nombre+" tiene 41 años"
nombre_edad

'Sergio Andres Lopez Navarro tiene 41 años'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [37]:
#lo primero es un string y lo segundo es un entero
"2"==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [38]:
int("2")==2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [43]:
#porque el dato tiene una "coma" y eso genera que sea reconocido como string mas no como un decimal así esté contenido entre comillas
a=float("3,8")

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [44]:
vari=3
vari-=1
vari

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [47]:
#El resultado 4 obedece a que toma el numero equivalente en binario de "1" que sería "0001" y lo desplaza 2 posiciones a su izquierda generando un nuevo numero binario "0100" el cual en decimal equivale a 4
binar=1<<2
binar

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [52]:
# No está permitido porque en python no se permite realizar operaciones matematicas entre variables tipo enteras y string
#2+"2" genera error
2+2 #sería una operacion entre dos enteros, no generaría error, su resultado sería 4
"2"+"2" #sería una concatenación entre dos string, no generaría error y su resultado sería "22"

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [56]:
cadena="  33.7                 "
entero=1000
operacion_mixta=entero+float(cadena)
operacion_mixta

1033.7